/// @type Color
$primary_color: #D87D4A;
/// @type Color
$secondary_color: #FBAF85;
/// @type Color
$light-grey: #F1F1F1;
/// @type Color
$background_white: #FAFAFA;
/// @type Color
$background_black: #101010;
/// @type Color
$white: #FFF;
/// @type Color
$black: #000;

/// @type layout 
$margin_column: 20px 0px;
 




