.task_item {
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  min-height: 88px;
  flex-shrink: 0;
  @include flex_separation;
  box-shadow: 2px 2px 7px 1px $very-dark-grey;

  button {
    margin-right: 15px;
  }
}

.task_item--darkmode {
  background-color: $dark-grey;
}
.task_item--lightmode {
  background-color: $white;
}

.task_item_text {
  h4 {
    @include heading_m;
    margin: 0;
    margin: 8px 8px;
  }
  p {
    @include body_m;
    color: $medium_grey;
    margin: 0;
    margin: 8px 15px;
  }
}


@keyframes open{
  0% {
    width: 40px;
  }
  70% {
    width: 120px;
  } 
}

.task_option {
  overflow: hidden;
  animation: 0.5s open forwards;

  @include flex_separation;
  margin-right: 10px;
  border-radius: 7px;
  button {
    color: $medium_grey;
    font-size: 18px;
    margin: 10px 6px;
  }

  .task_option_button_closer {
    transform: rotate(90deg);

    margin-right: 15px;
  }
}

.task_option--darkmode {
  background-color: $very-dark-grey;
}

.task_option--lightmode {
  background-color: $light_grey;
}

.task_button_title:hover {
  text-decoration: underline;
}
.task_button_title--darkmode {
  color: $white;
}
.task_button_title--lightmode {
  color: $black;
}
