.themeButton {
  margin: 0 30px;
  @include flex_arround;
  height: 48px;
  border-radius: 6px;
  // background-color: $very_dark_grey;
  margin: 30px;
  span {
    @include flex_midle;
  }
  button {
    background-color: $main_purple;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    padding: 0 3px;
    display: flex;
    align-items: center;
    span {
      background-color: $white;
      height: 14px;
      width: 14px;
      border-radius: 100%;
    }
  }
}

.themeButton--lightmode {
  background-color: $light_grey;
}
.themeButton--darkmode {
  background-color: $very_dark_grey;
}

.darkmode_enabled {
  flex-direction: row-reverse;
}

.lightmode_disabled {
  flex-direction: row;
}
