* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@mixin heading_xl {
  /* Heading (XL) */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin heading_l {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin heading_m {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin heading_s {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}

@mixin body_l {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
}

@mixin body_m {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@mixin button_font {
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 23px; /* 176.923% */
}

label {
  color: $white;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 12px 0;
}

.errorMessage {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: $red;
}

