/// @type Color
$main_purple: #635FC7;
/// @type Color
$light_purple: #A8A4FF;
/// @type Color
$black: #000112;
/// @type Color
$dark-grey: #2B2C37;
/// @type Color
$very_dark_grey: #20212c;
/// @type Color
$line_dark: #3E3F4E;
/// @type Color
$medium_grey: #828FA3;
/// @type Color
$ligh_grey: #828FA3;
/// @type Color
$white: #FFF;
/// @type Color
$red : #EA5555;
/// @type Color
$light_red: #FF9898;
/// @type Color
$white : #FFF;

/// @type layout 
$margin_column: 20px 0px;
 




